@import url("https://template.sagelga.com/styles/stylesheet.css");

:root {
  --font-family: "Anuphan", "IBM Plex Sans Thai", "IBM Plex Sans", sans-serif;
  --font-family-code: "JetBrains Mono", "Anuphan", "IBM Plex Sans Thai", monospace;
  --font-family-monospace: "JetBrains Mono", "Anuphan", "IBM Plex Sans Thai", monospace;

  scroll-behavior: smooth;

  --c-brand: rgb(31, 70, 144);
  --c-brand-light: rgb(58, 91, 160);
}

// Settings for dark mode
html.dark {
  --c-brand: rgb(255, 165, 0);
  --c-brand-light: rgb(255, 229, 180);
}
